<div class="ui grid room-calendar-component" style="font-size: smaller;">
  <div class="row">
    <div class="six wide computer eight wide tablet sixteen wide mobile column left aligned">
      <div class="ui buttons" id="threeButtons">
        <button class="ui grey button"  [disabled] = "disableButton"  *ngIf="!checkedIn && compareDateCurrent.getMonth() == viewDate.getMonth() && compareDateCurrent.getFullYear() == viewDate.getFullYear()" (click)="check();">
          Check in
        </button>
        <button class="ui grey button" [disabled] = "disableButton"  *ngIf="!checkedOut &&compareDateCurrent.getMonth() == viewDate.getMonth() && compareDateCurrent.getFullYear() == viewDate.getFullYear()" (click)="check(todayAttendance);">
          Check out
        </button>
      </div>
    </div>

    <div class="four wide computer eight wide tablet sixteen wide mobile column center aligned">
      <h3 class="padding-top-15"> {{ viewDate | calendarDate:(view + 'ViewTitle'):'en':weekStartsOn:excludeDays }}</h3>
    </div>

    <div class="six wide computer eight wide tablet sixteen wide mobile column right aligned" style="text-align: center;">
      <div class="ui mini buttons">
        <button class="ui labeled icon button grey" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
          [excludeDays]="excludeDays" (click)="getUserAttendances();">
          <i class="left chevron icon"></i>
          Previous
        </button>

        <button class="ui grey button" mwlCalendarToday [(viewDate)]="viewDate" (click)="getUserAttendances();">
          Today
        </button>

        <button class="ui right labeled icon button grey" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
          [excludeDays]="excludeDays" (click)="getUserAttendances();">
          <i class="right chevron icon"></i>
          Next
        </button>

      </div>
    </div>

  </div>

  <div class="row border-top">
    <div class="sixteen wide computer eight wide tablet sixteen wide mobile column">

      <!-- <ng-template #customCellTemplate let-day="day" let-locale="locale">
        <div class="cal-cell-top">
          <ng-container *ngFor="let item of day.events ">
            <a class="ui label" [ngClass]="{'yellow': item.title == 'Concediu', 'green': item.id, 'blue': !item.id && item.title != 'Concediu'}">
              <span [innerHTML]="item.title"></span>
              <div *ngIf="item.id">
                <div *ngIf="item.fromHome"> From Home
                </div>
                <div *ngIf="item.start"> Arrival: {{ item.start.toLocaleTimeString([], {timeStyle: 'short'})}}
                </div>
                <div *ngIf="item.end"> Departure: {{ item.end.toLocaleTimeString([], {timeStyle: 'short'})}}
                </div>
                <div *ngIf="item.end"> Total time: {{item.totalTime}}
                </div>
              </div>
            </a>
          </ng-container>
          <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    
          <ng-container
            *ngIf="!day.events.length && day.date < compareDateCurrent && day.date >= compareDateMin && day.date < compareDateMax && createdAt < day.date ">
            <a class="ui red label">Absent</a>
          </ng-container>     
        </div>
      </ng-template> -->

      <ng-template #customCellTemplate let-day="day" let-locale="locale">
        <div class="cal-cell-top">
        
          <ng-container *ngFor="let item of day.events " >
            <a class="ui label" id="attLabel" [ngClass]="{'mini': isMobile == 'true', 'yellow': item.title == 'Concediu', 'green': item.id, 'blue': !item.id && item.title != 'Concediu'}" >
              <span [innerHTML]="item.title"></span>
              <div *ngIf="item.id">
                <div *ngIf="item.fromHome"> From Home
                </div>
                <div *ngIf="item.start"> {{ item.start.toLocaleTimeString([], {timeStyle: 'short'})}}
                </div>
                <div *ngIf="item.end">  {{ item.end.toLocaleTimeString([], {timeStyle: 'short'})}}
                </div>
                <div *ngIf="item.end"> Hours: {{item.totalTime}}
                </div>
              </div>
            </a>   
          </ng-container>
          <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    
          <ng-container
            *ngIf="!day.events.length && day.date < compareDateCurrent && day.date >= compareDateMin && day.date < compareDateMax && createdAt < day.date ">
            <a class="ui red label" id="labelWeb">Absent</a>
            <a class="ui  mini red label" id="labelMobile">A</a>
          </ng-container>     
        </div>
      </ng-template>

      <div [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
          [refresh]="refresh" (dayClicked)="dayClicked($event.day)" [excludeDays]="excludeDays"
          (eventTimesChanged)="eventTimesChanged($event)" [cellTemplate]="customCellTemplate">
        </mwl-calendar-month-view>
      </div>
    </div>
  </div>

</div>
<app-attendances-modal (eventOut)="refreshAttendancesList($event)"></app-attendances-modal>