/* @media only screen and (max-width: 767px) {
    [class*="mobile hidden"],
    [class*="tablet only"]:not(.mobile),
    [class*="computer only"]:not(.mobile),
    [class*="large monitor only"]:not(.mobile),
    [class*="widescreen monitor only"]:not(.mobile),
    [class*="or lower hidden"] {
      display: none !important;
    }
  } */

  @media only screen and (max-width: 767px) {
    .ui.vertical.buttons
    {
     display: -webkit-box !important;
     width: 33% !important;
   }

  }