<div class="ui vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui section divider"></div>
    <div class="ui horizontal small link list">
      <a class="item">About CVU Condica</a>
      <a class="item">Contact Us</a>
      <a class="item">Terms and Conditions</a>
      <a class="item">Copyright 2019 FTS. All rights reserved.
      </a>
    </div>
  </div>
</div>
