<div class="box-wrapper">
  <div class="ui middle aligned four column centered grid center-div">
    <div class="six wide computer sixteen wide mobile column panel-div">
      <div class="ui grid">
        <div class="one column row">
          <div class="left floated column">
            <h2> Change Password</h2>
          </div>
        </div>
      </div>

      <div class="ui space-divider"></div>

      <form class="ui large form fadeIn" [formGroup]="registerConfirmForm">
        <div class="ui stacked">
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password" formControlName="password"
                [(ngModel)]="resetModel.password" required="required" />
            </div>
            <div class="all-pattern"
              *ngIf="!registerConfirmForm.controls.password.valid && registerConfirmForm.controls.password.dirty">
              <div class="ui basic fluid red pointing prompt label transition visible validate">

                <p class="col" [ngClass]="
                      registerConfirmForm.controls['password'].hasError('required') ||
                      registerConfirmForm.controls['password'].hasError('minlength')
                        ? 'red'
                        : 'green'
                    ">
                  <i class="check circle icon" [ngClass]="
                        registerConfirmForm.controls['password'].hasError('required') ||
                        registerConfirmForm.controls['password'].hasError('minlength')
                          ? 'red'
                          : 'green'
                      "></i>
                  Must be at least 8 characters!
                </p>

                <p class="col" [ngClass]="
                      registerConfirmForm.controls['password'].hasError('required') ||
                      registerConfirmForm.controls['password'].hasError('hasNumber')
                        ? 'red'
                        : 'green'
                    ">
                  <i class="check circle icon" [ngClass]="
                        registerConfirmForm.controls['password'].hasError('required') ||
                        registerConfirmForm.controls['password'].hasError('hasNumber')
                          ? 'red'
                          : 'green'
                      "></i>
                  Must contain at least 1 number!
                </p>

                <p class="col" [ngClass]="
                      registerConfirmForm.controls['password'].hasError('required') ||
                      registerConfirmForm.controls['password'].hasError('hasCapitalCase')
                        ? 'red'
                        : 'green'
                    ">
                  <i class="check circle icon" [ngClass]="
                        registerConfirmForm.controls['password'].hasError('required') ||
                        registerConfirmForm.controls['password'].hasError('hasCapitalCase')
                          ? 'red'
                          : 'green'
                      "></i>
                  Must contain at least 1 in Capital Case!
                </p>

                <p class="col" [ngClass]="
                      registerConfirmForm.controls['password'].hasError('required') ||
                      registerConfirmForm.controls['password'].hasError('hasSmallCase')
                        ? 'red'
                        : 'green'
                    ">
                  <i class="check circle icon" [ngClass]="
                        registerConfirmForm.controls['password'].hasError('required') ||
                        registerConfirmForm.controls['password'].hasError('hasSmallCase')
                          ? 'red'
                          : 'green'
                      "></i>
                  Must contain at least 1 Letter in Small Case!
                </p>

                <p class="col" [ngClass]="
                      registerConfirmForm.controls['password'].hasError('required') ||
                      registerConfirmForm.controls['password'].hasError(
                        'hasSpecialCharacters'
                      )
                        ? 'red'
                        : 'green'
                    ">
                  <i class="check circle icon" [ngClass]="
                        registerConfirmForm.controls['password'].hasError('required') ||
                        registerConfirmForm.controls['password'].hasError(
                          'hasSpecialCharacters'
                        )
                          ? 'red'
                          : 'green'
                      "></i>
                  Must contain at least 1 Special Character!
                </p>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" placeholder="Confirm Password" name="confirmPassword"
                [(ngModel)]="resetModel.confirmPassword" formControlName="confirmPassword">
            </div>
            <div
              *ngIf="registerConfirmForm.controls['confirmPassword'].dirty && registerConfirmForm.controls['confirmPassword'].hasError('NoPassswordMatch')"
              class="ui basic fluid red pointing prompt label transition visible validate">
              <p>
                <i class="check circle icon red"></i>
                Your password and confirm password do not match</p>
            </div>
          </div>

          <button class="ui fluid medium primary submit button" [ngClass]="{'loading':loggingIn}"
            (click)="changePassword()" [disabled]="!registerConfirmForm.valid || loggingIn">
            Submit
          </button>
        </div>
      </form>
      <div class="ui space-divider"></div>

    </div>
  </div>

</div>
