<div class="ui modal edit-day">
  <i class="close icon" (click)="onClickCancel()"></i>
  <div class="header">
    <div class="ui grid">
      <div class="sixteen wide column">Add Day</div>
    </div>
  </div>
  <div class="content">
    <form class="ui form" [formGroup]="daysForm">
      <div class="field">
        <h4 class="component-heading"> Name</h4>
        <input type="text" name="name" formControlName="name" [(ngModel)]="dayOffModel.name" required
          placeholder="Name">
        <div class="all-pattern" *ngIf="!daysForm.controls.name.valid && daysForm.controls.name.dirty">
          <div class="ui basic fluid red pointing prompt label transition visible validate">
            <aside class="col field-errors">
              <div *ngIf="daysForm.controls['name'].hasError('required')">
                <i class="close circle icon red"></i>
                Field is required!
              </div>
              <div *ngIf="daysForm.controls['name'].hasError('minlength')">
                <i class="close circle icon red"></i>
                Must be at least 3 characters!
              </div>
              <div *ngIf="daysForm.controls['name'].hasError('maxlength')">
                <i class="close circle icon red"></i>
                Must be maximum 50 characters!
              </div>
              <div *ngIf="daysForm.controls['name'].hasError('pattern')">
                <i class="close circle icon red"></i>
                Numbers and symbols are not allowed!
              </div>
            </aside>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="two fields">
          <div class="field">
            <div class="ui calendar" id="createdStart">
              <h4 class="component-heading">Start</h4>
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" placeholder="Start">
              </div>
            </div>
          </div>
          <div class="field">
            <div class="ui calendar" id="createdEnd">
              <h4 class="component-heading">End</h4>
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" placeholder="End">
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <h4 class="component-heading">Type of day off</h4>
          <div class="ui selection dropdown dayOffType-dropdown" (change)="handleChanges($event, 'selectedDayOffType')">
            <input type="hidden" name="dayOffType" formControlName="selectedDayOffType" [(ngModel)]="selectedDayOffType"
              [attr.value]="selectedDayOffType">
            <i class="dropdown icon"></i>
            <div class="default text">Select</div>
            <div class="menu">
              <div class="item" *ngFor="let item of dayOffType" [attr.data-value]="item">
                {{ item }}
              </div>

            </div>
          </div>

        </div>

        <div class="field" *ngIf="selectedDayOffType == 'Custom day off'">
          <div class="fields">
            <div class="twelve wide field">
              <h4 class="component-heading">Type</h4>
              <div class="ui checkbox">
                <input type="checkbox" formControlName="forEveryone" [(ngModel)]="dayOffModel.forEveryone">
                <label>For everyone</label>
              </div>
            </div>
          </div>
        </div>
        <div class="twelve wide field" *ngIf="selectedDayOffType == 'Custom day off'">
          <h4 class="component-heading">Days off for users:</h4>
          <div class="ui selection multiple search fluid dropdown users-dropdown" [hidden]="dropdownDisabled">
            <input name="allUsers" type="hidden" [(ngModel)]="usersForDaysOff" formControlName="usersForDaysOff">
            <i class="dropdown icon"></i>
            <div class="default text">Users</div>
            <div class="menu">
              <div class="item" *ngFor="let item of allUsers | keyvalue">
                {{item.value}} </div>
            </div>
          </div>
        </div>



      </div>
    </form>
  </div>
  <div class="actions">
    <button class="ui negative right labeled icon button" (click)="onClickCancel()">
      Close
      <i class="cancel icon"></i>
    </button>
    <button class="ui right secondary labeled icon button" [disabled]="!daysForm.valid || disableSave" (click)="save()">
      Save
      <i class="checkmark icon"></i>
    </button>
  </div>
</div>