<div class="ui middle aligned four column centered grid computer only">
  <div class="nine wide column">
    <div class="ui two column centered grid">
      <div class="column center aligned">
        <forgot-password-form></forgot-password-form>
      </div>
    </div>
  </div>

  <div class="seven wide column background-login center-div-parent">
    <div class="center-div">
      <div class="logo-auth">
        <img class="ui large image" src="assets/images/logo/LOGO-CVU-Login.png"  />
      </div>
    </div>
  </div>
</div>


<div class="ui grid mobile only tablet only background-login">
  <div class="sixteen wide column box-background-mobile">
    <div class="ui middle aligned four column centered grid center-div-parent">
      <div class="center-div">
        <forgot-password-form></forgot-password-form>
      </div>
    </div>
  </div>
</div>
