.background-login {
  background-image: url('/assets/images/auth/background-login.png') !important;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.center-div-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  flex-wrap: wrap
}

.center-div {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  height: calc(101.1vh);
  padding: 40px;
}
