<div class="ui equal width grid">
  <div class="equal width row">
    <div class="column">
      <h2 class="title">Approval List</h2>
      <br>
    </div>

  </div>
</div>
<!--insert search form here-->
<div class="dimmable margin-top-20">
  <div class="ui active inverted dimmer" *ngIf="loading">
    <div class="ui text loader">Loading</div>
  </div>
  <table class="ui small single sortable table">
    <thead id="notMobileDisplay">
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Number of Days</th>
        <th>Approved</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody *ngIf="vacationsApp && vacationsApp.length <= 0">
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>

      </tr>
    </tbody>
    <tbody>
      <tr
        *ngFor="let vacationApp of vacationsApp | paginate: { itemsPerPage:page.filter.itemsPerPage , currentPage: page.filter.page , totalItems: page.info.TotalCount,  id: 'vacationApp'}; let i=index">
        <td><span id="notWebDisplay"> <strong>Id:  </strong> </span>{{i + 1}}</td>
        <td><span id="notWebDisplay"> <strong>First Name:  </strong> </span>{{vacationApp.userFirstName}}</td>
        <td><span id="notWebDisplay"> <strong>Last Name:  </strong> </span>{{vacationApp.userLastName}}</td>
        <td><span id="notWebDisplay"> <strong>Start:  </strong> </span>{{vacationApp.vacationStartDate.toDateString()}}</td>
        <td><span id="notWebDisplay"> <strong>End:  </strong> </span>{{vacationApp.vacationEndDate.toDateString()}}</td>
        <td><span id="notWebDisplay"> <strong>Number Of Days:  </strong> </span>{{vacationApp.vacationDuration}}</td>
        <td *ngIf="vacationApp.approved">Approved</td>
        <td *ngIf="vacationApp.approved == false">Denied</td>
        <td *ngIf="vacationApp.approved == undefined">-</td>
        <td>
          <div>
            <button *ngIf="vacationApp.approved == undefined" class="ui small green button"
              (click)="openConfirmModal(vacationApp,true,false)">Approve</button>
            <button *ngIf="vacationApp.approved == undefined" class="ui small red button"
              (click)="openConfirmModal(vacationApp, false, false)">Deny</button>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="9">
          <div class="ui equal width grid">
            <div class="equal width row">
              <div class="column"></div>
              <div class="column right aligned">
                <div class="pagination-style">
                  <pagination-controls id="vacationApp"
                    (pageChange)="page.pageChanged($event, getVacationsListApproval)" autoHide="true" responsive="true"
                    previousLabel="" nextLabel=""></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
<br>
<br>
<br>
<br>
<!-- already approved, can be removed -->
<div class="ui equal width grid">
  <div class="equal width row">
    <div class="column">
      <h2 class="title">Already Signed</h2>
      <br>
    </div>

  </div>
</div>
<!--insert search form here-->
<div class="dimmable margin-top-20">
  <div class="ui active inverted dimmer" *ngIf="loading">
    <div class="ui text loader">Loading</div>
  </div>
  <table class="ui small single sortable table">
    <thead id="notMobileDisplay">
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Number of Days</th>
        <th> Status</th>
        <th>Reverse</th>
        <!-- <th>Comments</th> -->
      </tr>
    </thead>

    <tbody *ngIf="vacations && vacations.length <= 0">
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>

      </tr>
    </tbody>
    <tbody>
      <tr
        *ngFor="let alreadySignedV of alreadyApprovedVacations | paginate: { itemsPerPage:page.filter.itemsPerPage , currentPage: page.filter.page , totalItems: page.info.TotalCount,  id: 'vacationApp'}; let i=index">
        <td><span id="notWebDisplay"> <strong>Id:  </strong> </span>{{i + 1}}</td>
        <td><span id="notWebDisplay"> <strong>Fisrt Name:  </strong> </span>{{alreadySignedV.userFirstName}}</td>
        <td><span id="notWebDisplay"> <strong>Last Name:  </strong> </span>{{alreadySignedV.userLastName}}</td>
        <td><span id="notWebDisplay"> <strong>Start:  </strong> </span>{{alreadySignedV.vacationStartDate.toDateString()}}</td>
        <td><span id="notWebDisplay"> <strong>End:  </strong> </span>{{alreadySignedV.vacationEndDate.toDateString()}}</td>
        <td><span id="notWebDisplay"> <strong>Number of days:  </strong> </span>{{alreadySignedV.vacationDuration}}</td>
        <!-- <td *ngIf = "alreadySignedV.approved">Approved</td> -->
        <!-- <td *ngIf = "alreadySignedV.approved == false">Denied</td> -->
        <td *ngIf="alreadySignedV.approved">Approved</td>
        <td *ngIf="alreadySignedV.approved == false">Denied</td>
        <td *ngIf="alreadySignedV.approved == undefined">-</td>
        <td>
          <div>
            <!-- <button class="ui small blue button"  (click)="reverseVacation(alreadySignedV)">Undo</button> -->
            <button class="ui small blue button" (click)="openUndoModal(alreadySignedV)">Undo</button>
          </div>
        </td>
        <!-- <td >  <textarea [(ngModel)]="alreadySignedV.comment"></textarea> </td> -->
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="9">
          <div class="ui equal width grid">
            <div class="equal width row">
              <div class="column"></div>
              <div class="column right aligned">
                <div class="pagination-style">
                  <pagination-controls id="vacationApp"
                    (pageChange)="page.pageChanged($event, getVacantionListAlreaySigned)" autoHide="true"
                    responsive="true" previousLabel="" nextLabel=""></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </th>
      </tr>
    </tfoot>
  </table>
</div>


<!-- <app-vacation-edit (eventOut)="refreshDaysList($event)"></app-vacation-edit> -->

<!--only for marius approval-->
<br>
<br>
<br>
<br>
<div class="ui equal width grid" *ngIf="currentUser.signPriorityId === 1">
  <div class="equal width row">
    <div class="column">
      <h2 class="title">Pending vacations</h2>
      <br>
    </div>

  </div>
</div>
<!--insert search form here-->
<div class="dimmable margin-top-20" *ngIf="currentUser.signPriorityId === 1">
  <div class="ui active inverted dimmer" *ngIf="loading">
    <div class="ui text loader">Loading</div>
  </div>
  <table class="ui small single sortable table">
    <thead id="notMobileDisplay"> 
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Number of Days</th>
        <th>Approved</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody *ngIf="firstPriorityVacationsList && firstPriorityVacationsList.length <= 0">
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>

      </tr>
    </tbody>
    <tbody>
      <tr
        *ngFor="let firstPriorityVacationsList of firstPriorityVacationsList | paginate: { itemsPerPage:page.filter.itemsPerPage , currentPage: page.filter.page , totalItems: page.info.TotalCount,  id: 'vacationApp'}; let i=index">
        <td><span id="notWebDisplay"> <strong>Id:  </strong> </span>{{i + 1}}</td>
        <td><span id="notWebDisplay"> <strong>First Name:  </strong> </span>{{firstPriorityVacationsList.userFirstName}}</td>
        <td><span id="notWebDisplay"> <strong>Last Name:  </strong> </span>{{firstPriorityVacationsList.userLastName}}</td>
        <td><span id="notWebDisplay"> <strong>Start:  </strong> </span>{{firstPriorityVacationsList.vacationStartDate.toDateString()}}</td>
        <td><span id="notWebDisplay"> <strong>End:  </strong> </span>{{firstPriorityVacationsList.vacationEndDate.toDateString()}}</td>
        <td><span id="notWebDisplay"> <strong>Number of days:  </strong> </span>{{firstPriorityVacationsList.vacationDuration}}</td>
        <td *ngIf="firstPriorityVacationsList.approved">Approved</td>
        <td *ngIf="firstPriorityVacationsList.approved == false">Denied</td>
        <td *ngIf="firstPriorityVacationsList.approved == undefined">-</td>
        <td>
          <div>

            <button *ngIf="firstPriorityVacationsList.approved == undefined" class="ui small green button"
              (click)="openConfirmModal(firstPriorityVacationsList,true,true)">Approve</button>
            <button *ngIf="firstPriorityVacationsList.approved == undefined" class="ui small red button"
              (click)="openConfirmModal(firstPriorityVacationsList, false,true)">Deny</button>


          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="9">
          <div class="ui equal width grid">
            <div class="equal width row">
              <div class="column"></div>
              <div class="column right aligned">
                <div class="pagination-style">
                  <pagination-controls id="vacationApp"
                    (pageChange)="page.pageChanged($event, getFirstPriorityVacationsList)" autoHide="true"
                    responsive="true" previousLabel="" nextLabel=""></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </th>
      </tr>
    </tfoot>
  </table>
</div>


<div class="ui modal undoModal">
  <i class="close icon"></i>
  <div class="header">
    Change vacation response
  </div>
  <div class="content">
    <p>
      Are you sure you want to undo your previous response?
    </p>
  </div>
  <div class="actions">
    <button class="ui black deny button" (click)="refreshModels();">
      Cancel
    </button>
    <button class="ui blue right labeled icon button" (click)="reverseVacation()">
      Yes
      <i class="checkmark icon"></i>
    </button>
  </div>
</div>


<div class="ui modal confirmResponseModal">
  <i class="close icon"></i>
  <div class="header">
    Confirm response
  </div>
  <div class="content">

    <div class="ui form">
      <div class="field">
        <label> Do you want to add comments to your response?</label>
        <textarea rows="2" [(ngModel)]="approvalModel.comment"></textarea>
      </div>
    </div>


  </div>
  <div class="actions">
    <button class="ui black deny button" (click)="refreshModels();">
      Cancel
    </button>
    <button class="ui positive right labeled icon button" (click)="approve()">
      Sign
      <i class="checkmark icon"></i>
    </button>
  </div>
</div>