<div class="ui modal userEdit">
  <i class="close icon" (click)="onClickCancel()"></i>
  <div class="header" *ngIf="isEdit">
    <div class="ui grid">
      <div class="eight wide column">User Edit</div>
      <div class="eight wide column right aligned email-display"></div>
    </div>
  </div>
  <div class="header" *ngIf="!isEdit">Add user</div>
  <div class="content">

    <form class="ui form" [formGroup]="userRegisterForm">
      <div class="field">
        <div class="two fields">
          <div class="field">
            <h4 class="component-heading"> First Name</h4>
            <input type="text" name="firstName" formControlName="firstName" [(ngModel)]="clonedUser.firstName" required
              placeholder="First Name">
            <div class="all-pattern"
              *ngIf="!userRegisterForm.controls.firstName.valid && userRegisterForm.controls.firstName.dirty">
              <div class="ui basic fluid red pointing prompt label transition visible validate">
                <aside class="col field-errors">
                  <div *ngIf="userRegisterForm.controls['firstName'].hasError('required')">
                    <i class="close circle icon red"></i>
                    Field is required!
                  </div>
                  <div *ngIf="userRegisterForm.controls['firstName'].hasError('minlength')">
                    <i class="close circle icon red"></i>
                    Must be at least 3 characters!
                  </div>
                  <div *ngIf="userRegisterForm.controls['firstName'].hasError('maxlength')">
                    <i class="close circle icon red"></i>
                    Must be maximum 50 characters!
                  </div>
                  <div *ngIf="userRegisterForm.controls['firstName'].hasError('pattern')">
                    <i class="close circle icon red"></i>
                    Numbers and symbols are not allowed!
                  </div>
                </aside>
              </div>
            </div>
          </div>
          <div class="field">
            <h4 class="component-heading">Last name</h4>
            <input type="text" name="lastName" formControlName="lastName" [(ngModel)]="clonedUser.lastName" required
              placeholder="Last Name">

            <div class="all-pattern"
              *ngIf="!userRegisterForm.controls.lastName.valid && userRegisterForm.controls.lastName.dirty">
              <div class="ui basic fluid red pointing prompt label transition visible validate">
                <aside class="col field-errors">
                  <div *ngIf="userRegisterForm.controls['lastName'].hasError('required')">
                    <i class="close circle icon red"></i>
                    Field is required!
                  </div>
                  <div *ngIf="userRegisterForm.controls['lastName'].hasError('minlength')">
                    <i class="close circle icon red"></i>
                    Must be at least 3 characters!
                  </div>
                  <div *ngIf="userRegisterForm.controls['lastName'].hasError('maxlength')">
                    <i class="close circle icon red"></i>
                    Must be maximum 50 characters!
                  </div>
                  <div *ngIf="userRegisterForm.controls['lastName'].hasError('pattern')">
                    <i class="close circle icon red"></i>
                    Numbers and symbols are not allowed!
                  </div>
                </aside>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="two fields">
          <div class="field">
            <h4 class="component-heading"> Phone Number</h4>
            <input type="text" name="phoneNumber" formControlName="phoneNumber" [(ngModel)]="clonedUser.phoneNumber"
              required placeholder="Phone Number">
            <div class="all-pattern"
              *ngIf="!userRegisterForm.controls.phoneNumber.valid && userRegisterForm.controls.phoneNumber.dirty">
              <div class="ui basic fluid red pointing prompt label transition visible validate">
                <aside class="col field-errors">
                  <div *ngIf="userRegisterForm.controls['phoneNumber'].hasError('required')">
                    <i class="close circle icon red"></i>
                    Field is required!
                  </div>
                  <!-- <div *ngIf="userRegisterForm.controls['phoneNumber'].hasError('minlength')">
                    <i class="close circle icon red"></i>
                    Must be 10 digits!
                  </div> -->
                  <!-- <div *ngIf="userRegisterForm.controls['phoneNumber'].hasError('maxlength')">
                    <i class="close circle icon red"></i>
                    Must be maximum 50 characters!
                  </div> -->
                  <div *ngIf="userRegisterForm.controls['phoneNumber'].hasError('pattern')">
                    <i class="close circle icon red"></i>
                    Must be 10 digits!(no simbols)
                  </div>
                </aside>
              </div>
            </div>
          </div>
          <div class="field">
            <h4 class="component-heading">Email</h4>
            <input type="text" name="email" formControlName="email" id="email" [(ngModel)]="clonedUser.email" required
              placeholder="Email">
            <!-- [attr.disabled]="clonedUser.userId ? 'disabled' : ''" -->
            <div class="all-pattern"
              *ngIf="!userRegisterForm.controls.email.valid && userRegisterForm.controls.email.dirty">
              <div class="ui basic fluid red pointing prompt label transition visible validate">
                <aside class="col field-errors">
                  <div *ngIf="userRegisterForm.controls['email'].hasError('required')">
                    <i class="close circle icon red"></i>
                    Field is required!
                  </div>
                  <div *ngIf="userRegisterForm.controls['email'].hasError('minlength')">
                    <i class="close circle icon red"></i>
                    Must be at least 3 characters!
                  </div>
                  <div *ngIf="userRegisterForm.controls['email'].hasError('maxlength')">
                    <i class="close circle icon red"></i>
                    Must be maximum 50 characters!
                  </div>
                  <div *ngIf="userRegisterForm.controls['email'].hasError('pattern')">
                    <i class="close circle icon red"></i>
                    Incorect format!
                  </div>
                </aside>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="field">
        <div class="three fields">
          <div class="field">
            <h4 class="component-heading">Role</h4>
            <div class="ui selection dropdown role-dropdown" (change)="handleChanges($event, 'roleId')">
              <input type="hidden" name="role" formControlName="roleId" [(ngModel)]="clonedUser.roleId"
                [attr.value]="clonedUser.roleId">
              <i class="dropdown icon"></i>
              <div class="default text">Select</div>
              <div class="menu">
                <div class="item" *ngFor="let item of roles | keyvalue" [attr.data-value]="item.key">{{ item.value }}
                </div>
              </div>
            </div>

          </div>
          <div class="field">
            <h4 class="component-heading">Company</h4>
            <div class="ui selection dropdown company-dropdown" (change)="handleChanges($event, 'companyId')">
              <input type="hidden" name="company" formControlName="companyId" [(ngModel)]="clonedUser.companyId"
                [attr.value]="clonedUser.companyId">
              <i class="dropdown icon"></i>
              <div class="default text">Select</div>
              <div class="menu">

                <div class="item" *ngFor="let item of companies | keyvalue" [attr.data-value]="item.key">
                  {{ item.value }}
                </div>
              </div>
            </div>

          </div>
          <div class="field">
            <h4 class="component-heading">Position</h4>
            <div class="ui selection dropdown position-dropdown" (change)="handleChanges($event, 'positionId')">
              <input type="hidden" name="position" formControlName="positionId" [(ngModel)]="clonedUser.positionId"
                [attr.value]="clonedUser.positionId">
              <i class="dropdown icon"></i>
              <div class="default text">Select</div>
              <div class="menu">
                <div class="item" *ngFor="let item of positions | keyvalue" [attr.data-value]="item.key">
                  {{ item.value }}
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="field">
        <div class="fields">
          <div class="twelve wide field">
            <h4 class="component-heading">Status</h4>
            <div class="ui checkbox">
              <input type="checkbox" formControlName="isBlocked" [(ngModel)]="clonedUser.isBlocked">
              <label>Blocked</label>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="fields">
          <div class="twelve wide field">
            <div class="ui checkbox">
              <input type="checkbox" formControlName="canSign" [(ngModel)]="clonedUser.canSign">
              <label>Can Sign</label>
            </div>
          </div>
        </div>
      </div>
      <div class="twelve wide field">
        <h4 class="component-heading">Signing users</h4>
        <div class="ui selection multiple search fluid dropdown signingUsers-dropdown" >
          <input name="signingUsers" type="hidden" [(ngModel)]="selectedSigningUsers"
            formControlName="selectedSigningUsers">
          <i class="dropdown icon"></i>
          <div class="default text">Signing Users</div>
          <div class="menu">
            <div class="item" *ngFor="let item of signingUsers | keyvalue">
              {{item.value}} </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="field" >
      <div class="twelve wide field" style="text-align: center;">
        <button class="ui button" *ngIf="clonedUser.userId && !clonedUser.isActivated" [disabled] = "resended" (click)="resendActivationCode(clonedUser)">Resend activation email</button>
      </div>
  </div>
  <br>

  <div class="actions">
    <div class="ui negative right labeled icon button" (click)="onClickCancel()">
      Close
      <i class="cancel icon"></i>
    </div>
    <!-- [disabled]="!userRegisterForm.valid || loggingIn" -->
    <button class="ui right secondary labeled icon button" [ngClass]="{'loading':loggingIn}"
      [disabled]="!userRegisterForm.valid || disableSave" (click)="save();">
      Save
      <i class="checkmark icon"></i>
    </button>
  </div>
</div>