<div class="ui grid">
  <div class="computer only row">
    <div class="ui menu fixed top menu-top" id="navbar-menu"> 
      <div class="logo cursor" id="logo">
        <img style="margin: 0 auto; width:50%" routerLink="/admin/home" class="ui image medium"
          src="assets/images/logo/LOGO-CVU-PNG.png" />
      </div>
   
      <div class="item toggle-sidebar" (click)="toggleSidebar()">
        <a>
          <i class="bars icon"></i>
        </a>
      </div>


      <div class="right menu">
        <div class="ui simple dropdown item" style="color: white;">
          <i class="setting icon" ></i>
         {{user?.firstName + " " + user?.lastName}}
          <div class="menu">
            <a class="item" routerLink="my-profile">
              <i class="cog icon"></i>
              Settings

            </a>
            <div class="divider"></div>
            <a class="item" (click)="logOut()">
              <i class="log out icon"></i>
              log out
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile only tablet only row">
    <div class="ui menu fixed top menu-top" id="navbar-menu">
      <!-- <div class="logo cursor">
        <img style="margin: 0 auto; width:50%" routerLink="/admin/home" class="ui image medium"
          src="assets/images/logo/LOGO-CVU-PNG.png" />
      </div> -->
      <div (click)="toggleSidebar()" class="item toggle-sidebar">
        <a>
          <i class="bars icon"></i>
        </a>
      </div>

      <div class="right menu">

        <div class="ui simple dropdown item">
          <i class="setting icon"></i>
          Settings
          <div class="menu">

            <a class="item"  routerLink="my-profile">
              <i class="cog icon"></i>
              Profile
            </a>
            <a class="item" (click)="logOut()">
              <i class="log out icon"></i>
              Log out
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
 




 
</div>
