<div class="ui middle aligned four column centered grid computer only">
  <div class="seven wide column background-login center-div-parent ">
    <div class="center-div">
      <div class="logo-auth">
        <img class="ui large image" src="assets/images/logo/LOGO-CVU-LOGIN.png" />
      </div>
    </div>
  </div>

  <div class="nine wide column">
    <div class="ui two column centered grid">
      <div class="column  aligned">
        <login-form></login-form>
      </div>
    </div>
  </div>
</div>


<div class="ui grid mobile only tablet only background-login">
  <div class="sixteen wide column box-background-mobile">
    <div class="ui middle aligned four column centered grid center-div-parent">
      <div class="center-div" >
        <login-form></login-form>
      </div>
    </div>
  </div>
</div>




<!-- 
<div class="ui middle aligned stackable four column centered grid ">
  <div class="seven wide column background-login center-div-parent computer only">
    <div class="center-div">
      <div class="logo-auth">
        <img class="ui large image" src="assets/images/logo/LOGO-CVU-LOGIN.png" />
      </div>
    </div>
  </div>

  <div class="nine wide column ">
    <div class="ui two column  centered"
      [ngClass]="{'background-login': isMobile,'center-div ': isMobile}">
      <div class=" " [ngClass]="{'column aligned': !isMobile}">
       
        <login-form></login-form>
      </div>
    </div>
  </div>
</div> -->
