<h2> Login</h2>
<form class="ui large form fadeIn" [formGroup]="loginForm">
  <div class="ui stacked">
    <div class="field">
      <div class="ui left icon input">
        <i class="user icon"></i>
        <input type="text" name="userName" placeholder="Email" formControlName="userName" [(ngModel)]="loginModel.email"
          required="required">
      </div>
      <div class="all-pattern" *ngIf="!loginForm.controls.userName.valid && loginForm.controls.userName.touched">
        <div class="ui basic fluid red pointing prompt label transition visible validate">
          <aside class="col field-errors">
            <div *ngIf="loginForm.controls['userName'].hasError('required')">
              <i class="close circle icon red"></i>
              Username cannot be empty!
            </div>
            <div *ngIf="loginForm.controls['userName'].hasError('email')">
              <i class="close circle icon red"></i>
              This does not look like an email address!
            </div>
          </aside>
        </div>
      </div>

    </div>
    <div class="field">
      <div class="ui left icon input">
        <i class="lock icon"></i>
        <input type="password" name="password" placeholder="Password" formControlName="password"
          [(ngModel)]="loginModel.password" required="required">
      </div>
      <div class="all-pattern" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.touched">
        <div class="ui basic fluid red pointing prompt label transition visible validate">
          <aside class="col field-errors">
            <div *ngIf="loginForm.controls['password'].hasError('required')">
              <i class="close circle icon red"></i>
              Password cannot be empty!
            </div>
            <div *ngIf="loginForm.controls['password'].hasError('minlength')">
              <i class="close circle icon red"></i>
              Must be at least 8 characters!
            </div>
          </aside>
        </div>
      </div>

    </div>
    <!-- <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" name="example" [(ngModel)]="loginModel.keepSessionActive"
          formControlName="keepSessionActive" name="acceptTerms">
        <label style="color: #898b96">Keep me logged in</label>
      </div>

    </div> -->
    <button class="ui fluid medium primary submit button" (click)="logIn()" [ngClass]="{'loading':loggingIn}"
      [disabled]="!loginForm.valid || loggingIn">
      Submit </button>
  </div>
</form>
<div class="account-link" style="margin-top:20px; z-index: 99999; position: relative;">

  <p class="center floated">

    <a routerLink="/auth/forgot-password">Forgot password </a></p>
</div>
