<div class="box-wrapper">
  <div class="ui middle aligned four column centered grid center-div">
    <div class="six wide computer sixteen wide mobile column panel-div">
      <div class="ui grid">
        <div class="one column row">
          <div class="centered center aligned floated column">
            <form class="ui form" [formGroup]="confirmRegisterForm">
              <h1>Just one more step! </h1>
              <p>By proceeding to create your account and use the CVU-Condica, you are
                agreeing to our
                <a routerLink="/welcome/terms-and-conditions"> Terms and Conditions</a>.</p>
              <!-- <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" name="example"
                    [formControl]="confirmRegisterForm.controls['acceptTermsAndConditions']" name="acceptTerms">
                  <label style="color: #898b96">I agree to the Terms and Conditions</label>
                </div>
                <div class="col"
                  *ngIf="!confirmRegisterForm.controls.acceptTermsAndConditions.valid && confirmRegisterForm.controls.acceptTermsAndConditions.dirty"
                  class="ui basic fluid red pointing prompt label transition visible validate">
                  <p> You need to accept Terms & Condition</p>
                </div>
              </div> -->
              <button class="ui button primary" [ngClass]="{'loading':loggingIn}"
                [disabled]="!confirmRegisterForm.valid || disableBtn || loggingIn" (click)="activateAccount()">
                Activate </button>
            </form>

          </div>
        </div>
      </div>
      <div class="ui space-divider"></div>
    </div>
  </div>

</div>
