<div class="ui grid room-calendar-component">
  <div class="sixteen wide computer eight wide tablet sixteen wide mobile column center aligned">
    <h1 class="padding-top-15" style="text-align: center;"> TimeSheet</h1>
  </div>
  <div class="row">
    <div class="ten wide computer eight wide tablet sixteen wide mobile column left aligned">
      <h3 class="padding-top-15">
        Week: {{week.startDate.toDateString()}} - {{week.endDate.toDateString()}} </h3>
    </div>

    <div class="six wide computer eight wide tablet sixteen wide mobile column right aligned">
      <div class="ui mini buttons" id="threeButtons">
        <button class="ui labeled icon button grey" (click)="changeWeek('previous')">
          <i class="left chevron icon"></i>
          Previous
        </button>
        <button class="ui grey button" (click)="getCurrentWeek()">
          Current Week
        </button>
        <button class="ui right labeled icon button grey" (click)="changeWeek('next')">
          <i class="right chevron icon"></i>
          Next
        </button>
      </div>
      <div class="ui mini">
        <button class="ui mini green button" (click)="getReport()">
          <i class="file excel icon"></i>
          Download
        </button>
      </div>
    </div>
  </div>
</div>
<table class="ui small single sortable table">
  <thead id="notMobileDisplay">
    <tr>
      <th>Name</th>
      <th *ngFor="let date of headerRange" [innerHTML]="date"></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let d of data | paginate: { itemsPerPage:page.filter.itemsPerPage , currentPage: page.filter.page , totalItems: page.info.TotalCount,  id: 'users'}; let i=index">
      <td> {{d.name}}</td>
      <td *ngFor="let status of d.dates">
  
        <a class="ui label" [innerHTML]="status"
          [ngClass]="{'yellow': status == 'Concediu', 'green': status.indexOf('Prezent') > -1, 'blue' : status == 'Day Off', 'red': status == 'Absent'}">
          </a>
      </td>
    </tr>
  </tbody>
  <tfoot>
  </tfoot>
</table>