
    <div class="ui equal width grid">
      <div class="equal width row">
        <div class="column">
          <h2 class="title">Inventory</h2>
          <br>
        </div>
        <div class="column right aligned">
          <div class="ui small blue icon buttons">
            <button class="ui button active" (click)="addItem()">
              <i class="add icon"></i>Add item</button>
          </div>
        </div>
      </div>
    </div>

  <table class="ui small single sortable table">
    <thead id="notMobileDisplay">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Serial Number</th>
        <!-- <th>Image</th> -->
        <th>Category</th>
        <th>User</th>
        <th> Action</th>
      </tr>
    </thead>
    <!-- <tbody>
      <tr>
        <td> - </td>
        <td> - </td>
        <td> -</td>
        <td> - </td>
        <td> - </td>
        <td> - </td>
        <td> - </td>
      </tr>
    </tbody> -->
   
    <tbody>
      <tr *ngFor="let item of allItems |  paginate: { itemsPerPage:page.filter.itemsPerPage , currentPage: page.filter.page , totalItems: page.info.TotalCount,  id: 'items'}; let i=index" >
        <td> <span id="notWebDisplay"> <strong>ID:</strong> </span> {{i +1}} </td>
        <td> <span id="notWebDisplay"> <strong>Name:</strong> </span> {{item.name}} </td>
        <td><span id="notWebDisplay"> <strong>Serial Number:</strong> </span> {{item.serialNumber}}</td>
        <!-- <td> - </td> -->
        <td> <span id="notWebDisplay"> <strong>Category:</strong> </span>{{item.itemType}} </td>
        <td><span id="notWebDisplay"> <strong>User:</strong> </span> {{item.userName}} </td>
        <td>
          <div class="ui small basic icon buttons">
            <button class="ui icon button"(click)="editItem(item)"><i class="edit icon"></i></button>  
            <button class="ui icon button" (click)="deleteItem(item)"><i class="delete icon"></i></button>
          </div>
        </td>
      </tr>
    </tbody>

    <tfoot>
    </tfoot>
  </table>
  <pagination-controls id="items" (pageChange)="page.pageChanged($event, getItems)" autoHide="true" responsive="true"
  previousLabel="" nextLabel=""></pagination-controls>
  
  <app-inventory-modal (event)="refreshItemsList($event)"></app-inventory-modal>

  <div class="ui tiny modal delete-item">
    <i class="close icon" (click)="onClickCancel()"></i>
    <div class="ui header">
      Delete
    </div>
    <div class="content">
      <p>Are you sure you want to delete?</p>
    </div>
    <div class="actions">
      <button class="ui negative right labeled icon button" (click)="onClickCancel()">
        Close
        <i class="cancel icon"></i>
      </button>
      <button class="ui right secondary labeled icon button" (click)="delete()">
        Save
        <i class="checkmark icon"></i>
      </button>
    </div>
  </div>
  