@import "~shared/toastr/toastr.less";
@import "~shared/calendar/calendar.min.css";
@import "~shared/angular-calendar/calendar.less";
// @import '../node_modules/semantic-ui-calendar/dist/calendar.min.css';

@primaryColor: #066295;

@errorColor     : #db2828;
@headerCustom   : #595d6e;
@infoColorToastr: #5578eb;


body {
  background: #f9f9fc;
}

.login {
  background: #fff;
  overflow  : hidden;
}

.logo {
  padding      : 12px;
  text-align   : center;
  background   : #fff;
  border-bottom: 1px solid #ddd;
  width        : 260px;
  cursor       : pointer;
  border-style : hidden;
  border-bottom: #fff;
}

.logo-auth {
  margin       : 0 auto;
  padding      : 10px;
  border-radius: 15px;
}

.logo img:focus {
  outline: none;
}


.center-div {
  display      : grid;
  align-items  : center;
  align-content: center;
  flex-wrap    : wrap;
  height       : calc(101.1vh);
  padding      : 40px;
  text-align   : center;
}



// Sidebar 
.pusher {
  -webkit-transition: all 0.5s ease;
  -moz-transition   : all 0.5s ease;
  -o-transition     : all 0.5s ease;
  transition        : all 0.5s ease;
  width             : ~'-moz-calc(100% - 260px)';
  width             : ~'-webkit-calc(100% - 260px)';
  width             : ~'-o-calc(100% - 260px)';
  width             : ~'calc(100% - 260px)';
  overflow          : initial !important;
}

.pusher.tweaked {
  width: 100%;
}

.pushable {
  height    : auto !important;
  min-height: calc(100vh - 70px);
  margin-top: 70px;
}

// Sidebar Override
.ui.vertical.sidebar {
  .item.active {
    font-weight: normal !important;
    font-weight: 400 !important;
  }

  .item {
    padding: 15px 0px 0px 15px;

    >div {
      padding      : 2.5px;
      padding-right: 0;
    }

    >div.header {
      color: @headerCustom;
    }

    >div>i.icon {
      float       : left;
      font-size   : 1.2rem;
      color       : #003366; //green icons
      margin-right: 1em;
    }
  }
}

.ui.sidebar {
  overflow: hidden;
}

.ui.left.sidebar {
  background: #fff;
}

//form button
.ui.button {
  background-color: #003366;
  color           : aliceblue;
}

//add user button
.ui.buttons:not(.basic):not(.inverted)>.button,
.ui.buttons>.ui.button:not(.basic):not(.inverted) {
  background-color: #003366;
  color           : aliceblue;
}

//form header
.ui.sortable.table thead th {
  background-color: lightgray;
}

.ngx-pagination .current {
  background: #008060 !important;
}



// General settings
.background-white {
  box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .08) !important;
  background: #fff !important;
}

//pop up for disabled buttons
#arrival .ui.popup .link.disabled {
  display: none !important;
}

#departure .ui.popup .link.disabled {
  display: none !important;
}

//removed delete option for marius and iustin
.userEdit .ui.label[data-value='marius dumitrascu']>.delete.icon {
  visibility: hidden !important;
}

.userEdit .ui.label[data-value='iustinian nita']>.delete.icon {
  visibility: hidden !important;
}

//top menu

.bars.icon {
  color: white;
}

.ui.menu.fixed.top.menu {
  background-image : url("assets/images/ooo.png");
  background-repeat: no-repeat;
  background-size  : cover;
}


@media only screen and (max-width: 767px) {
  .cal-month-view .cal-day-cell {
    min-height: 80px !important;
    padding   : 0px !important;
  }

  #labelWeb {
    display: none;
  }

  .pushable {
    height    : auto !important;
    min-height: calc(100vh - 70px);
    margin-top: 40px;
  }
  #attLabel {
    font-size: x-small;
  }

  .ui.grid+.grid {
    margin: 0px;
  }
  #notMobileDisplay{
    display: none;
  }
  .ui.table:not(.unstackable) tr{
    box-shadow: 0 -1px 0 0 rgba(0,0,0,.5) inset!important;
  }

}


//login and auth
@media only screen and (min-width: 767px) {
  #labelMobile {
    display: none;
  }
}

.background-login {
  background-image       : url('/assets/images/auth/background-login.png') !important;
  background-size        : cover;
  -webkit-background-size: cover;
  -moz-background-size   : cover;
  -o-background-size     : cover;
  background-repeat      : no-repeat;
  // background-position: top center;

  #notWebDisplay{
    display: none;
  }
}
@media only screen and (min-width: 450px) {

  #notWebDisplay{
    display: none;
  }
}