@import "~shared/toastr/toastr.less";

@primaryColor: #066295;

@errorColor: #db2828;
@headerCustom: #595d6e;
@infoColorToastr: #5578eb;

.login {
  background: #fff;
  overflow: hidden;
}

.logo {
  padding: 10px;
  text-align: center;
  background: #fff;
  border-bottom: 1px solid #ddd;
  width: 260px;
  border-right: 1px solid rgba(255, 255, 255, .08);
}

.logo-auth {
  margin: 0 auto;
  padding: 10px;
  border-radius: 15px;
}

.logo img:focus {
  outline: none;
}

.toggle-sidebar {
  cursor: pointer;
}

.logo-mobile {
  height: 50px;
  width: 50px;
  padding: 10px;
  border-right: 1px solid rgba(255, 255, 255, .08);
}



.pusher {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: ~'-moz-calc(100% - 260px)';
  width: ~'-webkit-calc(100% - 260px)';
  width: ~'-o-calc(100% - 260px)';
  width: ~'calc(100% - 260px)';
  overflow: initial !important;
  // background: #f4f3f9;
}

.pusher.tweaked {
  width: 100%;
  // height: 100%;
  // min-height: 100vh;
}

.pushable {
  height: auto !important;
  // min-height: 93vh;
  min-height: calc(100vh - 70px);
  margin-top: 70px;
}

// Sidebar Override
.ui.vertical.sidebar {
  .item.active {
    font-weight: normal !important;
    font-weight: 400 !important;
  }

  .item {
    padding: 15px 0px 0px 15px;

    >div {
      padding: 2.5px;
      padding-right: 0;
    }

    >div.header {
      color: @headerCustom;
    }

    >div>i.icon {
      float: left;
      font-size: 1.2rem;
      color: #066295;
      margin-right: 1em;
    }
  }
}

.ui.sidebar {
  overflow: hidden;
}

.ui.left.sidebar {
  background: #fff;
}


// Menu
.ui.vertical.menu .menu .item {
  padding: 0.2em 0em 0.2em 4em;
  font-size: 0.9em;
}

// General

.ui.basic.segment {
  padding: 1.5em 3em 3em 3em
}

.ui.segment:last-child {
  margin-top: 0px;
}

.border-left,
.odd {
  border-left: 1px solid #ebedf2 !important;
}

.border-top {
  border-top: 1px solid #ebedf2 !important;
}

.title {
  font-weight: 500;
}

.margin-top-20 {
  margin-top: 20px !important;
}

// Remove chart name
.amcharts-chart-div a {
  display: none !important;
}


// Form Validatos Custom validators
.validate p {
  text-align: center;
  margin-bottom: 0px;
}

label.red {
  color: red !important;
}

label.green {
  color: green !important;
}

div.all-pattern {
  display: grid;

}




// Account confirm and reset pass

.box-background-mobile {
  background: linear-gradient(135deg, #fff 0%, #f3f6f8 100%);
}

.box-background-mobile::before {
  content: "";
  position: fixed;
  left: -22%;
  top: 60%;
  right: 0;
  width: 125%;
  height: 100%;
  background: linear-gradient(135deg, #f3f6f8 0%, #fff 100%);
  transform: rotate(15deg);
}

.box-wrapper {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #fff 0%, #f3f6f8 100%);
}

.box-wrapper::before {
  content: "";
  position: fixed;
  left: -22%;
  top: 60%;
  right: 0;
  width: 125%;
  height: 100%;
  background: linear-gradient(135deg, #f3f6f8 0%, #fff 100%);
  transform: rotate(15deg);
}

.space-divider {
  width: 100%;
  height: 25px;

}

.panel-div {
  background: #fff;
  padding: 3em 5em !important;
  -webkit-box-shadow: 0px 5px 24px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 24px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 24px -11px rgba(0, 0, 0, 0.75);
}

.center-div {
  display: grid;
  // justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  height: calc(101.1vh);
  padding: 40px;
  text-align: center;
}



// CkEditor
.ck.ck-toolbar,
.ck.ck-editor__main>.ck-editor__editable {
  background: transparent !important;

}


.hidden {
  display: none !important;
}


.visibility-hidden {
  visibility: hidden !important;
  ;
}

.floorImageContainer {
  position: relative;
}

.marker {
  position: absolute;
  // left: 50%;
  // top: 50%;
  transition: left .5s cubic-bezier(.42, -0.3, .78, 1.25),
    top .5s cubic-bezier(.42, -0.3, .78, 1.25);
  width: 30px;
}

.resources {
  overflow: hidden;
  padding: 10px 0px;
  height: calc(35vh - 10em);
  max-height: calc(35vh - 10em);
}

.resources:hover {
  overflow: auto;
  padding-right: 15px;
}

.ui {
  &.seven {
    &.column {
      &.table td {
        cursor: pointer;
      }
    }
  }
}

.category-description-field {
  padding-top: 10px;

  #description {
    resize: none;
  }
}

.ui {
  &.table {
    .centered-column {
      text-align: center;
    }

    .right-column {
      text-align: right;
    }
  }
}

.icon-picker-category {
  display: block;
  margin: 15px 0;
  font-size: 15px;

  span {
    padding-right: 15px;
  }

  i {
    font-size: 25px;
    position: relative;
    top: 4px;
  }

}

.icon-picker {
  top: 34px !important;
  left: 108px !important;
  position: absolute !important;

}

.selected-icon {
  position: absolute;
  margin-top: 14px;
  left: 14px;
  margin-left: 14px;
  z-index: 99;
}

.resetForm {
  float: right;
  font-weight: 300;
  font-size: 12px;
  cursor: pointer;
}

#communication-time {
  font-size: 12px;
  padding-top: 15px;

}

.commentForm .orange,
.comment .orange {
  color: orange !important;
}

.commentForm .red,
.comment .red {
  color: red !important;
}

.ui.orange.button,
.ui.orange.buttons .button,
.ui.red.button,
.ui.red.buttons .button {
  color: #fff !important;
}

.status-filter {
  margin-top: 20px;
  display: block;
}

.delete {
  cursor: pointer;
  display: inline-block;
  margin: 0 .75em 0 0;
  color: #fff;
  margin-top: 5px;
}


.email-display {
  font-size: 16px;
  color: rgba(0, 0, 0, .4);
}


// Ticket Commnets
.ui.small.comments {
  margin-bottom: 15px;
}

.ticket-status-label {
  margin-left: 30px !important;
  font-weight: 100 !important;
}

.building-view .ui.comments .comment .comments {
  margin: 0 0 0.5em 3.5em !important;
}

.ticket-details-header {
  margin-bottom: 5px;
}

.green-color {
  color: #4caf50;
}

.red-color {
  color: #db2828;
}

.animation-fadeIn {
  animation: fadeIn 2s infinite;
}

// Ticket logs
.comment-block {
  display: block;
  width: 2.5em;
  height: 2.5em;
  float: left;
  margin: 0.2em 0 0;
  // background: #5A55A2;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 0.6em 0;
}


.comment-item .ui.segment {
  box-shadow: none !important;
  background: #fff;
}

.comment-item .no-padding {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

#ticket-logs .comments .comment {
  border-bottom: 1px solid #ddd !important;
}


#ticket-logs .comments {
  padding: 2em 0 1em 3.25em !important;
}

.log-value-changed {
  font-size: 1em;
  color: rgba(0, 0, 0, .87);
  font-weight: 700;
  margin-bottom: 5px;
}


.custom-divider {
  font-weight: normal !important;
  color: @primaryColor  !important;
  text-transform: lowercase !important;
}


.comment>.comment-block~.content {
  margin-left: 3.5em;
}

// Ticket floor image
.map {
  position: relative;
  display: inline-block;

}

.map img {
  max-width: 100%;
  display: block;
}

.box {
  width: 10%;
  height: 10%;
  background-image: url(http://www.clker.com/cliparts/W/0/g/a/W/E/map-pin-red.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

#pin-1 {
  top: 29%;
  left: 36%;
}

.box:hover>.pin-text {
  display: block;
}

.pin-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 75%;
  white-space: nowrap;
  display: none;
}

.pin-text h3 {
  color: white;
  text-shadow: 1px 1px 1px #000;
}

.ui.table tr {
  cursor: pointer;
}

.ui.basic.table {
  border: 0px !important;
}

.ui.fixed.table td:last-child {
  overflow: inherit !important;
}


.padding-bottom-15-mobile {
  @media(max-width: 768px) {
    padding-bottom: 15px !important;
  }
}

.padding-vertical-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.firebase-message {
  margin-bottom: 20px;
}


.see-more {
  font-weight: normal !important;
  text-transform: capitalize !important;
  cursor: pointer;

}

.ticket-content-hidden {
  margin-top: initial !important;
  margin-bottom: 15px !important;

}

.ticket-content-hid {
  margin-top: 15px !important;

}

.feedback-color {
  cursor: pointer;
}



// Pagination design settings
.pagination-style .ngx-pagination a,
.ngx-pagination button {
  color: #898b96;
}

.pagination-style .ngx-pagination li:hover>a {
  background: #fff;
  border: 0.6px solid @primaryColor;
  border-radius: 3px;
}

.pagination-style .ngx-pagination li a:hover>span {
  color: @primaryColor;
}

.pagination-style .ngx-pagination li a:focus {
  outline: none;
}

.pagination-style .ngx-pagination .current {
  padding: 0.2rem 0.9rem;
  background: @primaryColor;
  border-radius: 3px;
}

.pagination-style .ngx-pagination .current p,
.pagination-style .ngx-pagination .current span {
  color: #fff;
}

.pagination-style .ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next.disabled::after {
  margin-left: 0px;
}

.pagination-style .ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before {
  margin-right: 0px;
}



// Dropdown max results
.ticketSearchDropdown .results {
  height: calc(27vh - 10em);
  max-height: calc(27vh - 10em);
  // min-height: calc(27vh - 10em);
  overflow-y: auto;
  overflow-x: hidden;
}


.ui.floating.label {
  left: 90% !important;
  font-weight: normal !important;
}

.ui .message {
  padding: 10px;
}

.ui .message .header {
  font-weight: normal;
}



// card design
.ui .card {
  box-shadow: none !important;
}

.ui .card h4 {
  font-weight: normal;
  margin-top: 5px;
  color: #fff;
}

.ui.card>.content>.description,
.ui.cards>.card>.content>.description {
  color: #fff;
}

.bg-yellow {
  // background-color: #ff9800 !important;
  background-color: rgba(255, 184, 34, 1) !important;
  color: #fff;
}



.bg-green {
  background: #4caf50 !important;
  color: #fff;
}

.bg-teal {
  background: #00bcd4 !important;
  color: #fff;
}


.bg-purple {
  background: #9c27b0 !important;
  color: #fff;
}

.bg-violet {
  background: #6435c9 !important;
  color: #fff;
}


.white-text {
  color: #fff !important;
}

.summary-no {
  font-weight: 600;
  color: #fff;
  font-size: 2.5rem;
}




.test {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
}


.disabled-cell {
  pointer-events: none;
  color: rgba(40, 40, 40, .3) !important;
}

.disabled-cell-popup {
  pointer-events: visible !important;
}

.popup h5 {
  color: #fff;
}

.black {
  color: #000000 !important;
}

.import-input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
}

.import-input:hover {
  cursor: pointer;
}

.comments-container .text {
  padding: 10px 15px !important;
}





#sticky {
  opacity: 0;
  display: none;
  transition: all 0.4s ease-in-out 0s;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 133;
  background: #3e3c4f;
  color: #fff;
  border-bottom: 1px solid #ddd;
}


#sticky .right {
  margin-right: 15px !important;
}

#sticky .menu .item::before {
  background: none !important;
}

#sticky h2 {
  padding-left: 15px;
}

#sticky h2 span {
  color: #fff;
}

#sticky .column {
  padding-bottom: 15px;
  padding-top: 15px;
}

form input.ng-invalid,
form textarea.ng-invalid {
  border-left: 1px solid @errorColor  !important;
}

.ui.form .field .prompt.label {
  border: 1px solid @errorColor  !important;
  color: @errorColor  !important;
}

.ui.form .field .prompt.label p {
  color: @errorColor  !important;
}



.log-icon {
  margin: 0 auto !important;
}




[hidden] {
  display: none !important;
}

.comments-container {
  display: none;
}


.comments-container.active {
  display: block;
}


.marginTop {
  margin-top: -40px !important;
  padding-top: 50px !important;
  background: #fff;
}

#page-container {
  margin-bottom: 30px;
}

#page-content {
  padding: 0px 50px;
  text-align: justify;
}




.home-router {
  background: #3e3c4f;
  color: #fff;
  height: 100vh !important;
  width: 460px;
  max-width: 460px;
  position: fixed;
  top: 0px;
  z-index: 9999999;
  padding: 25px;
}


#cookies-list .header {
  color: #fff;
  font-size: 25px !important;
  line-height: 25px;
  padding-bottom: 10px;
  font-weight: lighter;
}



#cookies-list .item {
  font-size: 15px !important;
  line-height: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#cookies-list .item:first-child {
  border: 0px;
}



.ccc-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, .4);
  -webkit-perspective: 1000;
  perspective: 1000;
  will-change: transform, opacity;
}


#ccc-icon {
  position: fixed;
  bottom: 0;
  width: 80px;
  height: 80px;
  cursor: pointer;
  z-index: 99999999;
  padding: 0;
  border: 0;
  background: transparent;
}

#ccc-icon:focus {
  outline: 0px !important;
  border: 0px;
}

#star {
  fill: #fff;
}

.overflow-hidden {
  overflow: hidden;
}

.closed {
  display: none;
}

.open {
  display: block;
}


.cursor {
  cursor: pointer;
}



.ngx-toastr {
  background-color: #030303;
  pointer-events: auto;
}

.toast-success {
  background-color: @primaryColor;
}

.toast-error {
  background-color: @errorColor;
}

.toast-info {
  background-color: @infoColorToastr;
}

.toast-warning {
  background-color: #F89406;
}




.active-category .teal {
  background-color: @errorColor  !important;

}


#floor_image img {
  width: 100%;

}


.img-zoom-result {
  border: 1px solid #d4d4d4;
  width: 300px;
  height: 300px;
}


.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  width: 40px;
  height: 40px;
}

.img-zoom-container {
  position: relative;
}
