<div class="ui grid">
  <div class="row">
    <div class="eight wide column">
      <h4 class="component-heading">My Profile Details</h4>
      <p>All My Information</p>
    </div>
  </div>

  <div class="row border-top">
    <div class="sixteen wide column">
      <form class="ui form" [formGroup]="editUserForm">

        <div class="equal width fields">
          <div class="field">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" [(ngModel)]="clonedUser.firstName" name="firstName"
              formControlName="firstName" placeholder="First Name">

            <div class="all-pattern"
              *ngIf="!editUserForm.controls.firstName.valid && editUserForm.controls.firstName.dirty">
              <div class="ui basic fluid red pointing prompt label transition visible validate">
                <p class="col" [ngClass]="
                      editUserForm.controls['firstName'].hasError('required') ||
                      editUserForm.controls['firstName'].hasError('minlength') ||
                      editUserForm.controls['firstName'].hasError('maxlength')
                        ? 'red'
                        : 'teal'
                    ">
                  <i class="check circle icon" [ngClass]="
                        editUserForm.controls['firstName'].hasError('required') ||
                        editUserForm.controls['firstName'].hasError('minlength') ||
                        editUserForm.controls['firstName'].hasError('maxlength')
                          ? 'red'
                          : 'teal'
                      "></i>
                  Must be at least 3 characters and max 50 characters!
                </p>
              </div>
            </div>
          </div>
          <div class="field">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" [(ngModel)]="clonedUser.lastName" name="lastName"
              formControlName="lastName" placeholder="Last Name">

            <div class="all-pattern"
              *ngIf="!editUserForm.controls.lastName.valid && editUserForm.controls.lastName.dirty">
              <div class="ui basic fluid red pointing prompt label transition visible validate">
                <p class="col" [ngClass]="
                      editUserForm.controls['lastName'].hasError('required') ||
                      editUserForm.controls['lastName'].hasError('minlength') ||
                      editUserForm.controls['lastName'].hasError('maxlength')
                        ? 'red'
                        : 'teal'
                    ">
                  <i class="check circle icon" [ngClass]="
                        editUserForm.controls['lastName'].hasError('required') ||
                        editUserForm.controls['lastName'].hasError('minlength') ||
                        editUserForm.controls['lastName'].hasError('maxlength')
                          ? 'red'
                          : 'teal'
                      "></i>
                  Must be at least 3 characters and max 50 characters!
                </p>
              </div>
            </div>
          </div>
        </div>



        <div class="equal width fields">
          <div class="field">
            <label for="phoneNumber"> Phone Number </label>
            <input type="text" id="phoneNumber" [(ngModel)]="clonedUser.phoneNumber" name="phoneNumber"
              formControlName="phoneNumber" placeholder="Phone Number">

            <div class="all-pattern"
              *ngIf="!editUserForm.controls.phoneNumber.valid && editUserForm.controls.phoneNumber.dirty">
              <div class="ui basic fluid red pointing prompt label transition visible validate">
                <p class="col" [ngClass]="
                    editUserForm.controls['phoneNumber'].hasError('required') ||
                    editUserForm.controls['phoneNumber'].hasError('minlength') ||
                    editUserForm.controls['phoneNumber'].hasError('maxlength') ||
                    editUserForm.controls['phoneNumber'].hasError('pattern')
                      ? 'red'
                      : 'teal'
                  ">
                  <i class="check circle icon" [ngClass]="
                      editUserForm.controls['phoneNumber'].hasError('required') ||
                      editUserForm.controls['phoneNumber'].hasError('minlength') ||
                      editUserForm.controls['phoneNumber'].hasError('maxlength') ||
                      editUserForm.controls['phoneNumber'].hasError('pattern')
                        ? 'red'
                        : 'teal'
                    "></i>
                  Phone number is not valid!
                </p>
              </div>
            </div>
          </div>

          <div class="field">
            <label for="email"> Email</label>
            <input type="text" id="email" disabled="true" [(ngModel)]="clonedUser.email" name="email"
              formControlName="email" placeholder="Email">
          </div>
        </div>
          <!--id name category-->
          <h4 class="title">Assigned items</h4>
          <table class="ui small single sortable table" style="width: 40%; ;">
            <thead>
              <tr>
                <th>Name</th>
                <th>Category</th>
              </tr>
            </thead>

            <tbody>
              <tr
                *ngFor="let item of user.items">
                <td> {{item.name}} </td>
                <td> {{item.itemType}} </td>
              </tr>
            </tbody>

            <tfoot>
            </tfoot>
          </table>



        <button class="ui labeled icon secondary button" (click)="saveUserSettings()" [disabled]="!editUserForm.valid"
          type="submit">
          <i class="save icon"></i>
          Save my details
        </button>
      </form>

    </div>
  </div>
</div>