<div class="page-not-found">
  <div class="ui grid">
    <div class="sixteen wide computer eight wide tablet sixteen wide mobile column page-not-found-container">
      <h1 class="page-not-found-title">404</h1>
      <p class="page-not-found-description">OOPS! Something went wrong gere</p>
      <button (click)="redirect()" class="ui icon labeled button primary">
        <i class="home icon"></i>
        Go back to my homepage
      </button>
    </div>
  </div>
</div>
