<div class="ui grid">
  <div class="row">
    <div class="eight wide column">
      <h4 class="component-heading">My Profile Details</h4>
      <p>Change my password</p>
    </div>
  </div>

  <div class="row border-top">
    <div class="sixteen wide tablet six wide computer column">

      <form class="ui form" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">

        <div class="sixteen wide field">
          <label for="currentPassword">Current Password</label>
          <input type="password" name="currentPassword" [(ngModel)]="changePaswordModel.currentPassword"
            id="currentPassword" placeholder="Current Password" formControlName="currentPassword">
        </div>
        <div class="sixteen wide field">
          <label for="password">New Password</label>
          <input type="password" id="password" name="password" [(ngModel)]="changePaswordModel.newPassword"
            placeholder="New Password" formControlName="password">

          <div class="all-pattern"
            *ngIf="!changePasswordForm.controls.password.valid && changePasswordForm.controls.password.dirty">
            <div class="ui basic fluid red pointing prompt label transition visible validate">

              <p class="col" [ngClass]="
                  changePasswordForm.controls['password'].hasError('required') ||
                  changePasswordForm.controls['password'].hasError('minlength')
                    ? 'red'
                    : 'teal'
                ">
                <i class="check circle icon" [ngClass]="
                    changePasswordForm.controls['password'].hasError('required') ||
                    changePasswordForm.controls['password'].hasError('minlength')
                      ? 'red'
                      : 'teal'
                  "></i>
                Must be at least 8 characters!
              </p>

              <p class="col" [ngClass]="
                  changePasswordForm.controls['password'].hasError('required') ||
                  changePasswordForm.controls['password'].hasError('hasNumber')
                    ? 'red'
                    : 'teal'
                ">
                <i class="check circle icon" [ngClass]="
                    changePasswordForm.controls['password'].hasError('required') ||
                    changePasswordForm.controls['password'].hasError('hasNumber')
                      ? 'red'
                      : 'teal'
                  "></i>
                Must contain at least 1 number!
              </p>

              <p class="col" [ngClass]="
                  changePasswordForm.controls['password'].hasError('required') ||
                  changePasswordForm.controls['password'].hasError('hasCapitalCase')
                    ? 'red'
                    : 'teal'
                ">
                <i class="check circle icon" [ngClass]="
                    changePasswordForm.controls['password'].hasError('required') ||
                    changePasswordForm.controls['password'].hasError('hasCapitalCase')
                      ? 'red'
                      : 'teal'
                  "></i>
                Must contain at least 1 in Capital Case!
              </p>

              <p class="col" [ngClass]="
                  changePasswordForm.controls['password'].hasError('required') ||
                  changePasswordForm.controls['password'].hasError('hasSmallCase')
                    ? 'red'
                    : 'teal'
                ">
                <i class="check circle icon" [ngClass]="
                    changePasswordForm.controls['password'].hasError('required') ||
                    changePasswordForm.controls['password'].hasError('hasSmallCase')
                      ? 'red'
                      : 'teal'
                  "></i>
                Must contain at least 1 Letter in Small Case!
              </p>

              <p class="col" [ngClass]="
                  changePasswordForm.controls['password'].hasError('required') ||
                  changePasswordForm.controls['password'].hasError('hasSpecialCharacters')
                    ? 'red'
                    : 'teal'
                ">
                <i class="check circle icon" [ngClass]="
                    changePasswordForm.controls['password'].hasError('required') ||
                    changePasswordForm.controls['password'].hasError('hasSpecialCharacters')
                      ? 'red'
                      : 'teal'
                  "></i>
                Must contain at least 1 Special Character!
              </p>
            </div>
          </div>
        </div>
        <div class="sixteen wide field">
          <label for="confirmPassword">Confirm New Password</label>
          <input type="password" name="confirmPassword" id="confirmPassword"
            [(ngModel)]="changePaswordModel.confirmPassword" formControlName="confirmPassword"
            placeholder="Confirm New Password">
          <div
            *ngIf="changePasswordForm.controls['confirmPassword'].dirty && changePasswordForm.controls['confirmPassword'].hasError('NoPassswordMatch')"
            class="ui basic fluid red pointing prompt label transition visible validate">
            Your password and confirm password do not match
          </div>
        </div>

        <button class="ui labeled icon secondary button"
          [disabled]="!changePasswordForm.valid || !changePasswordForm.dirty" type="submit">
          <i class="save icon"></i>
          Save
        </button>
      </form>
    </div>
  </div>
</div>
