<div class="ui equal width grid">
  <div class="equal width row">
    <div class="column">
      <h2 class="title">All vacations List</h2>
      <br>
      <br>
    </div>
    <div class="column right aligned">
      <div *ngIf = "statistics">
        Total days left:{{statistics.totalremainingdays}}
      </div>
      <div class="ui small blue icon buttons">
        <button class="ui button active" (click)="addVacation()">
          <i class="add icon"></i>Add vacation </button>

            <button class="ui button" (click)="openStatistics()">
              <i class="check icon"></i>
              View statistics
            </button>
        
      </div>
    </div>
  </div>
</div>
<!--insert search form here-->
<div class="dimmable margin-top-20">
  <div class="ui active inverted dimmer" *ngIf="loading">
    <div class="ui text loader">Loading</div>
  </div>
  <table class="ui small single sortable table">
    <thead id="notMobileDisplay">
      <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Number of Days</th>
        <th>Status</th>
        <th>Approved by</th>
        <th>Rejected by</th>
        <th>Remaining to approve</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody *ngIf="vacations && vacations.length <= 0">
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>

      </tr>
    </tbody>
    <tbody>
      <tr
        *ngFor="let vacation of vacations | paginate: { itemsPerPage:page.filter.itemsPerPage , currentPage: page.filter.page , totalItems: page.info.TotalCount,  id: 'vacation'}; let i=index">
        <td><span id="notWebDisplay"> <strong>Id:  </strong> </span>{{i + 1}}</td>
        <td><span id="notWebDisplay"> <strong>Start:  </strong> </span>{{vacation.startDate.toDateString()}}</td>
        <td><span id="notWebDisplay"> <strong>End:  </strong> </span>{{vacation.endDate.toDateString()}}</td>
        <td><span id="notWebDisplay"> <strong>Number of days:  </strong> </span>{{vacation.numberOfDays}}</td>
        <td><span id="notWebDisplay"> <strong>Status:  </strong> </span>{{vacation.status}}</td>
        <td><span id="notWebDisplay"> <strong>Approved by:  </strong> </span>{{vacation.approvedBy}}</td>
        <td><span id="notWebDisplay"> <strong>Rejected by:  </strong> </span>{{vacation.rejectedBy}}</td>
        <td><span id="notWebDisplay"> <strong>Remaining:  </strong> </span>{{vacation.remainingToApprove}}</td>
        <td>
          <div class=" ui small basic icon buttons">
            <button class="ui button" *ngIf="vacation.status == 'Pending'"
              (click)="editVacation(vacation)"><i class="edit icon"></i></button>
            <div data-tooltip="You can't modify past or approved  vacations">
              <button class="ui icon button disabled" *ngIf="vacation.status != 'Pending'"><i
                  class="edit icon"></i></button>
            </div>
            <button class="ui button" (click)="deleteVacation(vacation)"
              *ngIf="vacation.status == 'Pending'"><i class="delete icon"></i></button>
            <div data-tooltip="You can't modify past or approved vacations">
              <button class="ui icon button disabled" *ngIf="vacation.status != 'Pending'"><i
                  class="delete icon"></i></button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="10">
          <div class="ui equal width grid">
            <div class="equal width row">
              <div class="column"></div>
              <div class="column right aligned">
                <div class="pagination-style">
                  <pagination-controls id="vacation" (pageChange)="page.pageChanged($event, getvacationsList)"
                    autoHide="true" responsive="true" previousLabel="" nextLabel=""></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </th>
      </tr>
    </tfoot>
  </table>
</div>

<app-vacation-edit (eventOut)="refreshDaysList($event)"></app-vacation-edit>


<div class="ui tiny modal delete-vacation">
  <i class="close icon" (click)="onClickCancel()"></i>
  <div class="ui header">
    Delete
  </div>
  <div class="content">
    <p>Are you sure you want to delete?</p>
  </div>
  <div class="actions">
    <button class="ui negative right labeled icon button" (click)="onClickCancel()">
      Close
      <i class="cancel icon"></i>
    </button>
    <button class="ui right secondary labeled icon button" (click)="delete()">
      Save
      <i class="checkmark icon"></i>
    </button>
  </div>
</div>

<div class="ui tiny modal statistics">
  <i class="close icon" (click)="onClickCancelStatistics()"></i>
  <div class="ui header">
    View statistics
  </div>
  <div class="content" *ngFor = "let item of modalStatistics; let i=index;">
     <p>{{item.Year}}: </p> 
     <p>Total Days: {{item.TotalDays}}</p>
     <p>Taken Days: {{item.TakenDays}}</p>
     <p>Remaining Days: {{item.RemainingDays}}</p>
  </div>
  <div class="actions">
    <button class="ui right secondary labeled icon button" (click)="onClickCancelStatistics()">
      Got it
      <i class="checkmark icon"></i>
    </button>
  </div>
</div>