<div class="ui equal width grid">
  <div class="equal width row">
    <div class="column">
      <h2 class="title">All users</h2>
      <br>
    </div>
    <div class="column right aligned">
      <div class="ui small blue icon buttons">
        <button class="ui button active" (click)="addUser()" *ngIf="currentUser.isAdmin">
          <i class="add icon"></i>Add User</button>
      </div>
    </div>
  </div>
</div>
<!--insert search form here-->
<div class="dimmable margin-top-20">
  <div class="ui active inverted dimmer" *ngIf="loading">
    <div class="ui text loader">Loading</div>
  </div>
  <table class="ui small single sortable table">
    <thead id="notMobileDisplay">
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th *ngIf="currentUser.isAdmin">Position</th>
        <th *ngIf="currentUser.isAdmin">Company</th>
        <th *ngIf="currentUser.isAdmin">Role</th>
        <th *ngIf="currentUser.isAdmin">Blocked</th>
        <th *ngIf="currentUser.isAdmin">Action</th>
      </tr>
    </thead>

    <tbody *ngIf="users.length <= 0">
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td *ngIf="currentUser.isAdmin">-</td>
        <td *ngIf="currentUser.isAdmin">-</td>
        <td *ngIf="currentUser.isAdmin">-</td>
        <td *ngIf="currentUser.isAdmin">-</td>
      </tr>
    </tbody>
    <tbody>

      <tr
        *ngFor="let user of users | paginate: { itemsPerPage:page.filter.itemsPerPage , currentPage: page.filter.page , totalItems: page.info.TotalCount,  id: 'users'}; let i=index">

        <!-- <tr *ngFor="let user of users">  -->
        <td style="width: 5%;"><span id="notWebDisplay"> <strong>Id:</strong> </span>{{i+1}}</td>
        <td><span id="notWebDisplay"> <strong>First Name:</strong> </span>{{user.firstName}}</td>
        <td><span id="notWebDisplay"> <strong>Last Name:</strong> </span>{{user.lastName}}</td>
        <td><span id="notWebDisplay"> <strong>Email:</strong> </span>{{user.email}}</td>
        <td><span id="notWebDisplay"> <strong>Phone no:</strong> </span>{{user.phoneNumber}}</td>
        <td *ngIf="currentUser.isAdmin"><span id="notWebDisplay"> <strong>Position:</strong> </span>{{user.position}}</td>
        <td *ngIf="currentUser.isAdmin"><span id="notWebDisplay"> <strong>Company:</strong> </span>{{user.company}}</td>
        <td *ngIf="currentUser.isAdmin"><span id="notWebDisplay"> <strong>Role:</strong> </span>{{user.role}}</td>
        <td *ngIf="currentUser.isAdmin"> <a class="ui  label" [ngClass]="user.isBlocked  ? 'red' : 'green' ">
            {{ user.isBlocked ? ' Inactive ' : 'Active'}} </a> </td>
        <td *ngIf="currentUser.isAdmin">
          <button class="ui button" (click)="edit(user)">Edit</button>
        </td>
      </tr>
    </tbody>

    <tfoot>

    </tfoot>
  </table>
  <div>
    <!--aici adaug getUsers cu parametri in loc de pageChanged-->
    <pagination-controls id="users" (pageChange)="page.pageChanged($event, getUsers)" autoHide="true" responsive="true"
      previousLabel="" nextLabel=""></pagination-controls>
  </div>
  <app-edit (newEvent)="getUsers()"></app-edit>