<div class="ui sidebar vertical left" id="sidebar">
  <div class="ui menu fluid borderless vertical left" id="left-menu" style="border: 0px;">

    <div class="item">
      <div class="header"> <i class="users icon"></i> Users </div>
      <div class="menu">
        <a class="item" routerLink="cvu-users" [routerLinkActive]="['active']">
          <div>
            Users
          </div>
        </a>
      </div>
    </div>

    <div class="ui divider"></div>
    
    <div class="item">
      <div class="header"> <i class="calendar alternate icon"></i> Days Off </div>
      <div class="menu">
        <a class="item" routerLink="days-off" [routerLinkActive]="['active']">
          <div>
            Days Off
          </div>
        </a>
      </div>
    </div>

    <div class="ui divider"></div>
    <div class="item">
      <div class="header"> <i class="calendar check icon"></i> Attendances </div>
      <div class="menu">
        <a class="item" routerLink="attendances" [routerLinkActive]="['active']">
          <div>
            My Attendances
          </div>
        </a>
        <a class="item" *ngIf="currentUser.isAdmin"  routerLink="all-attendances" [routerLinkActive]="['active']">
          <div>
            All Attendances
          </div>
        </a>
      </div>
    </div>

    <div class="ui divider" *ngIf="currentUser.role != 'Intern'"></div>
    <div class="item" *ngIf="currentUser.role != 'Intern'">
      <div class="header"> <i class="plane icon"></i> Vacations </div>
      <div class="menu">
        <a class="item" routerLink="vacations" [routerLinkActive]="['active']">
          <div>
            My Vacations
          </div>
        </a>
        <a class="item" *ngIf="currentUser.canSign" routerLink="approval" [routerLinkActive]="['active']">
          <div>
            Vacation Request Queue
          </div>
        </a>
      </div>
    </div>



    <div class="ui divider"  *ngIf="currentUser.isAdmin" ></div>
    <div class="item"  *ngIf="currentUser.isAdmin" >
      <div class="header"> <i class="clipboard list icon"></i> Inventory </div>
      <div class="menu">
        <a class="item"   routerLink="inventory" [routerLinkActive]="['active']">
          <div>
            Inventory
          </div>
        </a>
      </div>
    </div>

  </div>
</div>
