<!-- attendances modal -->
<div class="ui modal attendance">
  <i class="close icon" (click)="onClickCancel()"></i>
  <div class="header">
    Attendance
  </div>
  <div class="content">
    <form class="ui form">
      <div class="field">
        <div class="two fields">
          <div class="field">
            <h3>Arrival</h3>
            <div class="ui calendar" id="arrival">
              <div class="ui input left icon">
                <i class="time icon"></i>
                <input type="text" placeholder="Time">
              </div>
            </div>
          </div>

          <div class="field">
            <h3>Departure</h3>
            <div class="ui calendar" id="departure">
              <div class="ui input left icon">
                <i class="time icon"></i>
                <input type="text" placeholder="Time">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" name="fromHome" [(ngModel)]="clonedAttendance.fromHome">
          <label>From Home</label>
        </div>
      </div>
    </form>
  </div>

  <div class="actions">
    <div class="ui negative right labeled icon button" (click)="onClickCancel()">
      Close
      <i class="cancel icon"></i>
    </div>
    <button class="ui right secondary labeled icon button" (click)="save()" [disabled]="disableSave">
      Save
      <i class="checkmark icon"></i>
    </button>
  </div>
</div>
