<h2>Forgot Password </h2>
<p> Insert email address </p>
<form class="ui medium form" [formGroup]="forgotForm">
  <div class="ui stacked">
    <div class="field">
      <div class="ui input">
        <input type="text" name="email" formControlName="email" placeholder="Email" [(ngModel)]="forgotModel.email"
          required="required">
      </div>
      <div *ngIf="!forgotForm.controls.email.valid && forgotForm.controls.email.dirty"
        class=" ui basic fluid red pointing prompt label transition visible validate">
        <p>Email is not valid</p>
      </div>
    </div>
    <button class="ui fluid medium primary submit button" [ngClass]="{'loading':loggingIn}" (click)="forgotSubmit()"
      [disabled]="!forgotForm.valid || loggingIn ">Submit</button>
  </div>
</form>


<div class="account-link" style="margin-top:20px; z-index: 99999; position: relative;">
  <p> <a routerLink="/auth/login">
      Sign In</a></p>
</div>
