<div class="ui modal vacation-day">
  <i class="close icon" (click)="onClickCancel()"></i>
  <div class="header">
    <div class="ui grid">
      <div class="sixteen wide column">Add vacation</div>
    </div>
  </div>
  <div class="content">
    <form class="ui form">
      <div class="field">
        <div class="two fields">
          <div class="field">
            <div class="ui calendar" id="vacationStart">
              <h4 class="component-heading">Start</h4>
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" placeholder="Start">
              </div>
            </div>
          </div>
          <div class="field">
            <div class="ui calendar" id="vacationEnd">
              <h4 class="component-heading">End</h4>
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" placeholder="End">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="actions">
    <button class="ui negative right labeled icon button" (click)="onClickCancel()">
      Close
      <i class="cancel icon"></i>
    </button>
    <button class="ui right secondary labeled icon button" [disabled] = "disableSave || !vacationModel.startDate || !vacationModel.endDate " (click)="save()">
      Save
      <i class="checkmark icon"></i>
    </button>
  </div>
</div>
