<div class="ui modal inventory">
  <i class="close icon"></i>
  <div class="header">
    Inventory
  </div>
  <div class="content">
    <form class="ui form" [formGroup]="inventoryForm">
      <div class="field">
        <div class="two fields">
          <div class="field">
            <h4 class="component-heading">Name</h4>
            <input type="text" name="name" placeholder="Name" formControlName="name" [(ngModel)]="editItemModel.name">
            <div class="all-pattern" *ngIf="!inventoryForm.controls.name.valid && inventoryForm.controls.name.dirty">
              <div class="ui basic fluid red pointing prompt label transition visible validate">
                <aside class="col field-errors">
                  <div *ngIf="inventoryForm.controls['name'].hasError('required')">
                    <i class="close circle icon red"></i>
                    Field is required!
                  </div>
                  <div *ngIf="inventoryForm.controls['name'].hasError('minlength')">
                    <i class="close circle icon red"></i>
                    Must be at least 3 characters!
                  </div>
                  <div *ngIf="inventoryForm.controls['name'].hasError('maxlength')">
                    <i class="close circle icon red"></i>
                    Must be maximum 50 characters!
                  </div>
                </aside>
              </div>
            </div>
          </div>
          <div class="field">
            <h4 class="component-heading">Serial Number</h4>
            <input type="text" name="serial-number" placeholder="Serial Number" formControlName="serial" [(ngModel)]="editItemModel.serialNumber">
            <div class="all-pattern"
              *ngIf="!inventoryForm.controls.serial.valid && inventoryForm.controls.serial.dirty">
              <div class="ui basic fluid red pointing prompt label transition visible validate">
                <aside class="col field-errors">
                  <div *ngIf="inventoryForm.controls['serial'].hasError('required')">
                    <i class="close circle icon red"></i>
                    Field is required!
                  </div>
                  <div *ngIf="inventoryForm.controls['serial'].hasError('minlength')">
                    <i class="close circle icon red"></i>
                    Must be at least 3 characters!
                  </div>
                  <div *ngIf="inventoryForm.controls['serial'].hasError('maxlength')">
                    <i class="close circle icon red"></i>
                    Must be maximum 50 characters!
                  </div>
                </aside>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="two fields">

          <div class="field">
            <h4 class="component-heading">Category</h4>
            <div class="ui selection dropdown categories-dropdown" (change)="handleChanges($event, 'itemTypeId')">
              <input type="hidden" name="category" formControlName="itemTypeId" [(ngModel)]="editItemModel.itemTypeId"
                [attr.value]="editItemModel.itemTypeId">
              <i class="dropdown icon"></i>
              <div class="default text">Categories</div>
              <div class="menu">
                <div class="item" *ngFor="let item of categories | keyvalue" [attr.data-value]="item.key">
                  {{ item.value }}
                </div>
              </div>
            </div>
            <div class="all-pattern" *ngIf="!inventoryForm.controls.itemTypeId.valid && inventoryForm.controls.itemTypeId.dirty">
              <div class="ui basic fluid red pointing prompt label transition visible validate">
                <aside class="col field-errors">
                  <div *ngIf="inventoryForm.controls['itemTypeId'].hasError('required')">
                    <i class="close circle icon red"></i>
                    Field is required!
                  </div>
                  <div *ngIf="inventoryForm.controls['itemTypeId'].hasError('minlength')">
                    <i class="close circle icon red"></i>
                    Must be at least 3 characters!
                  </div>
                  <div *ngIf="inventoryForm.controls['itemTypeId'].hasError('maxlength')">
                    <i class="close circle icon red"></i>
                    Must be maximum 50 characters!
                  </div>
                </aside>
              </div>
            </div>
          </div>
          <div class="field">
            <h4 class="component-heading">User</h4>
            <div class="ui selection dropdown allUsers-dropdown" (change)="handleChanges($event, 'userId')" >
              <input name="allUsers" type="hidden" [(ngModel)]="editItemModel.userId"
              [attr.value] = "selectedUser" formControlName="userId">
              <i class="dropdown icon"></i>
              <div class="default text">Users</div>
              <div class="menu">
                 <div class="item" *ngFor="let item of allUsers | keyvalue"[attr.data-value]="item.key">
                  {{item.value}} </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  

  <div class="actions">
    <div class="ui black deny button" click="onClickCancel()">  
      Cancel
    </div>
    <div class="ui positive red labeled icon button" (click)="save()">
      Save
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>