<div class="ui equal width grid">
  <div class="equal width row">
    <div class="column">
      <h2 class="title">My Profile</h2>
    </div>
  </div>
</div>

<div class="ui two column grid">




  <div class="four wide computer sixteen wide tablet sixteen wide mobile column background-white">
    <div class="ui active inverted dimmer" *ngIf="loading">
      <div class="ui text loader">Loading</div>
    </div>
    <div class="ui grid">
      <div class="row">

        <div class="sixteen wide column border-top">
          <div class="ui secondary user-tabs vertical menu" style="width:100%">
            <a class="item" data-tab="user-settings" (click)="changeActiveMenu(1)"
              [ngClass]="{'active': activeMenu === 1}">
              <i class="user circle outline icon"></i>
              My Profile
            </a>
            <a class="item" data-tab="change-password" (click)="changeActiveMenu(2)"
              [ngClass]="{'active': activeMenu === 2}">
              <i class="user secret icon"></i>
              Change Password
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="twelve wide computer sixteen wide tablet sixteen wide mobile column background-white tab active">
    <div class="ui grid background-white">
      <div class="ui active inverted dimmer" *ngIf="loading">
        <div class="ui text loader">Loading</div>
      </div>
      <div class="column">

        <user-settings [user]="user" [loading]="loading" *ngIf="activeMenu === 1"></user-settings>
        <user-change-password [loading]="loading" *ngIf="activeMenu === 2"></user-change-password>


      </div>
    </div>
  </div>

</div>
