<app-nav-top-menu></app-nav-top-menu>
<div class="dashboard">
  <app-nav-sidebar></app-nav-sidebar>
  <div class="pusher">
    <div id="content" class="ui basic horizontal very padded segment">
      <router-outlet></router-outlet>
    </div>
    <app-nav-footer></app-nav-footer>
  </div>
</div>
