
button.ui.icon.button#tooltip:disabled{
    pointer-events: none;
}

button.ui.icon.button#tooltip:disabled {
    position: relative ;
  }
  button.ui.icon.button#tooltip:hover::after:disabled {
    content: "You can only modify previous dates" ;
    position: absolute ;
    top: 1.1em ;
    left: 1em ;
    min-width: 200px ;
    border: 1px #808080 solid ;
    padding: 8px ;
    color: black ;
    background-color: whitesmoke ;
    z-index: 1 ;
  }
  button.ui.icon.button.disabled{
    pointer-events: all;
  }