<div class="ui equal width grid">
  <div class="equal width row">
    <div class="column">
      <h2 class="title">All Days Off</h2>
      <br>
    </div>
    <div class="column right aligned">
      <div class="ui small blue icon buttons">
        <button class="ui button active" *ngIf="currentUser.isAdmin" (click)="addDay()">
          <i class="add icon"></i>Add day </button>
      </div>
    </div>
  </div>
</div>
<!--insert search form here-->
<div class="dimmable margin-top-20">
  <div class="ui active inverted dimmer" *ngIf="loading">
    <div class="ui text loader">Loading</div>
  </div>
  <table class="ui small single sortable table">
    <thead id="notMobileDisplay"> 
      <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Number of days</th>
        <th *ngIf="currentUser.isAdmin" >Action</th>
      </tr>
    </thead>

    <tbody *ngIf="daysOff && daysOff.length <= 0">
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>

      </tr>
    </tbody>
    <tbody>
      <tr *ngFor="let day of daysOff | paginate: { itemsPerPage:page.filter.itemsPerPage , currentPage: page.filter.page , totalItems: page.info.TotalCount,  id: 'daysOff'}; let i=index">
        <td><span id="notWebDisplay">Name: </span> {{day.name}}</td>
        <td><span id="notWebDisplay"> <strong>Start:</strong> </span>{{day.startDate.toDateString()}}</td>
        <td><span id="notWebDisplay"> <strong>End: </strong></span>{{day.endDate.toDateString()}}</td>
        <td><span id="notWebDisplay"> <strong>Number of days:</strong> </span>{{day.numberOfDays}}</td>
        <td *ngIf="currentUser.isAdmin">

          <div class="ui small basic icon buttons">
            <button class="ui icon button" *ngIf ="day.endDate >=  disabledButtonsDate" (click)="dayEdit.editDay(day)" ><i class="edit icon"></i></button>
           <div data-tooltip = "You can't modify previous days off">
            <button class="ui icon button disabled" *ngIf="day.endDate <  disabledButtonsDate" (click)="dayEdit.editDay(day)" ><i class="edit icon"></i></button>
           </div>
            <button class="ui icon button" (click)="deleteDay(day)" *ngIf ="day.endDate >=  disabledButtonsDate"><i class="delete icon"></i></button>
            <div data-tooltip = "You can't modify previous days off">
            <button class="ui icon button disabled"  *ngIf="day.endDate <  disabledButtonsDate" (click)="deleteDay(day)" data-tooltip="tooltip"><i class="delete icon"></i></button>
          </div>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="7">
          <div class="ui equal width grid">
            <div class="equal width row">
              <div class="column"></div>
              <div class="column right aligned">
                <div class="pagination-style">
                  <pagination-controls id="daysOff" (pageChange)="page.pageChanged($event, getDaysOff)" autoHide="true"
                    responsive="true" previousLabel="" nextLabel=""></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </th>
      </tr>
    </tfoot>
  </table>
</div>

<app-day-edit (eventOut)="refreshDaysList($event)"></app-day-edit>


<div class="ui tiny modal delete-day">
  <i class="close icon" (click)="onClickCancel()"></i>
  <div class="ui header">
    Delete
  </div>
  <div class="content">
    <p>Are you sure you want to delete?</p>
  </div>
  <div class="actions">
    <button class="ui negative right labeled icon button" (click)="onClickCancel()">
      Close
      <i class="cancel icon"></i>
    </button>
    <button class="ui right secondary labeled icon button" (click)="delete()">
      Save
      <i class="checkmark icon"></i>
    </button>
  </div>
</div>
